# IntelliJ
.idea
*.iml

# Node
node_modules
typings
npm-debug.log
.npmignore

# Build process
staging
gulpfile.config.js
gulpfile.js
mocha.opts

# Pre-transpiled sources
spec
src
resources
target

# Config files
*.json
!typings.json

# Runtime caches
.cache