sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
before_install:
  - npm i -g npm@^3.0.0
before_script:
  - npm prune
script: gulp
after_success:
  - npm run report-coverage
  - npm run semantic-release
after_failure:
  - cat /home/travis/build/jan-molak/serenity-cli-node/npm-debug.log
branches:
  except:
    - /^v\d+\.\d+\.\d+$/